
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
table.table.table-hover
	tr	
		td 회차
		td 감독신청일자
		td 시험일자
		td 상태
		td 비고

	each item in list
		tr	
			td= item.number
			td= item.startDate
			td= item.examDate
			td= item.status
			td
				- if (item.status=='Active')
					input(type='button', value='Done', data-number=item.number).gosa-change-status-btn.btn.btn.btn-warning
					input(type='button', value='Ready', data-number=item.number).gosa-change-status-btn.btn
				- else if (item.status=='Done')
					input(type='button', value='Active', data-number=item.number).gosa-change-status-btn.btn.btn-primary
					input(type='button', value='Ready', data-number=item.number).gosa-change-status-btn.btn
				- else 
					input(type='button', value='Active', data-number=item.number).gosa-change-status-btn.btn.btn-primary
					input(type='button', value='Done', data-number=item.number).gosa-change-status-btn.btn.btn-warning
				button(type='button', value='Delete', data-number=item.number).gosa-delete-btn.btn.btn-danger
						i.icon-trash.icon-white
						| Delete
				button(type='button', data-number=item.number).user-register-btn.btn.btn-primary
						i.icon-star.icon-white
						| 선점등록
				button(type='button', data-number=item.number).examhall-register-btn.btn.btn-primary
						i.icon-star-empty.icon-white
						| 지역추가
				button(type='button', data-number=item.number).register-list-btn.btn.btn-primary
						i.icon-search.icon-white
						| 신청결과보기
		
#gosa-form-container(style='display: none;')
	form( method="post", action='gosaRegister')#gosa-form.form-horizontal.well.span6
		h1
		p#sub1.subheading 신규 고사정보를 등록합니다.
		hr
		fieldset
			#number-cg.control-group
				label.control-label(for='number-tf') 회차
				.controls
					input#number-tf.input-xlarge(type='text', name='number')
			#startDate-cg.control-group
				label.control-label(for='startDate-tf') 감독신청일자
				.controls
					input#startDate-tf.input-xlarge(type='text', name='startDate', value='2014-XX-XX XX:XX:00')
			#examDate-cg.control-group
				label.control-label(for='examDate-tf') 시험일자
				.controls
					input#examDate-tf.input-xlarge(type='text', name='examDate', value='2014-XX-XX XX:XX:00')
			#status-cg.control-group
				label.control-label(for='status-tf') 상태
				.controls
					select(name='status')
						option(value='Ready') Ready
						option(value='Active') Active
						option(value='Done') Done

			
			hr

			.form-actions
				button(type='button')#gosa-form-btn1.btn
					| Cancel				
				button(type='button')#BtnAddRegister.btn.btn-success
					i.icon-ok.icon-white
					| Submit				
					

#register-form-container(style='display: none;')
	form( method="post", action='register')#gosa-form.form-horizontal.well.span6
		h1
		p#sub1.subheading 출석고사 감독 선점
		a(href='/print', target='_blank') 회원정보 

		hr
		fieldset
			#number-rg.control-group
				label.control-label(for='number-rf') 회차
				.controls
					input#number-rf.input-xlarge(type='text', name='number-rf')
			#user-rf-rg.control-group
				label.control-label(for='user-rf') user
				.controls
					input#user-rf.input-xlarge(type='text', name='user-rf')
			#name-rf-rg.control-group
				label.control-label(for='name-rf') name
				.controls
					input#name-rf.input-xlarge(type='text', name='name-rf')
			#email-rf-rg.control-group
				label.control-label(for='email-rf') email
				.controls
					input#email-rf.input-xlarge(type='text', name='email-rf')
			#country-rg.control-group
				label.control-label(for='country-rf') 지역
				.controls
					input#country-rf.input-xlarge(type='text', name='country-rf')
			#team-rf-rg.control-group
				label.control-label(for='team-rf') team
				.controls
					input#team-rf.input-xlarge(type='text', name='team-rf')
			
			hr

			.form-actions
				button(type='button')#register-form-btn1.btn
					| Cancel				
				button(type='button')#BtnAddUserRegister.btn.btn-success
					i.icon-ok.icon-white
					| Submit				
					

#examhall-form-container(style='display: none;')
	form( method="post", action='examhallRegister')#gosa-form.form-horizontal.well.span6
		h1
		p#sub1.subheading 지역 신청
	
		div#examList

		hr
		fieldset
			#number-eg.control-group
				label.control-label(for='number-ef') 회차
				.controls
					input#number-ef.input-xlarge(type='text', name='number-ef')
			#country-eg.control-group
				label.control-label(for='country-ef') 지역
				.controls
					input#country-ef.input-xlarge(type='text', name='country-ef')

			
			hr

			.form-actions
				button(type='button')#examhall-register-form-btn1.btn
					| Cancel				
				button(type='button')#BtnAddExamhallRegister.btn.btn-success
					i.icon-ok.icon-white
					| 지역 등록